body{
    margin: 0;
    padding: 0;
    background-image: url(/public/img/pattern.jpg);
    background-size: cover;
}
#logo {
    background-image: url("img/logo.png");
}

header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1%;
}

nav{
    background-color: blanchedalmond;
    padding: 5px;
    margin: auto;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0 20px;
    position: relative;
    display: inline-table;
    width: 100%;
}